.storybook-button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  height: 50%;
  border: 1px solid;
  padding: 9px 12px;
  background-color: #3e0254;
  border-radius: 6px;
  margin: 1rem;
  font-weight: bold;
  font-size: 12px;
  color: #aaaaaa;

}

.storybook-button--primary {
  color: #aaaaaa;
  background-color: #3e0254;
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}